.vs
.vscode
*.code-workspace
build/
/vcpkg_installed
.xmake/
dist/scripts/
dist/SKSE/Plugins/*.dll
dist/SKSE/Plugins/*.pdb
.release
*.sln
*.vcxproj
*.targets
*.filters
*.props
*.items
*.lock
*.lock
CppProperties.json
